.icon-block .material-icons {
    font-size: inherit;
}

.navbar-fixed-top {
    position: absolute;
}

.container-full-height {
    height: 100vh
}

.mobile-container {
    height: 100%;
    justify-content: center;
    background-image: url('../img/bg-mobile.jpeg');
    background-repeat: no-repeat;
    background-size: cover
}

.about-container {
    height: 100%;
    justify-content: center;
}