.icon-block .material-icons {
    font-size: inherit;
}

.navbar-fixed-top {
    position: absolute;
    background-color: transparent;
    box-shadow: none;
}

.container-full-height {
    min-height: 100vh !important
}

.mobile-container {
    height: 100%;
    justify-content: center;
    background-image: url('../img/bg-mobile.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container {
    justify-content: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 200;
}

.about-container-text {
    font-weight: 200;
    padding: 10px;
    line-height: 1.5;
    font-size: 1.55rem;
}

.about-container-title {
    font-size: 5.2rem;
}

.read-more, .read-more:hover, .read-more:focus {
    cursor: pointer;
    color: black;
}

.no-pointer-events {
    pointer-events: none;
}

#resources {
    background-image: url('../img/running.jpeg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    justify-content: center;
    display: flex;
}

.top-container {
    margin-bottom: -20px;
}

#resources-content {
    background: black;
    opacity: 0.9;
    padding: 0px 20px;
}

.footer-copyright {
    padding-bottom: 20px;
}=