body {
	margin: 0px auto;
}

.container-site {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	text-align: center;
}

.container2 {
	background-image: url('bgee.jpg');
	background-size: cover;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

.container1 {
	background-image: url('un2.jpg');
	background-size: cover;
	font-weight: bold;
}

.display-2 > .currency {
	font-size: 2.75rem;
	position: relative;
	font-weight: $main-font-weight + 100;
	top: -45px;
	letter-spacing: 0px;
}

.display-2 > .period {
    font-size: 1rem;
    color: lighten($main-font-color, 20%);
    letter-spacing: 0px;
  }

.display-2 {
  font-size: 7rem;
  letter-spacing: -.5rem;
}

.list-group-item-e {
    border: 0px;
    padding: .25rem;
    color: #808080;
    font-weight: 300;
    text-decoration: none;
  }